#menu li{
	font-size: 20px;
}

#banner{
	padding-top: 50px;
	background-color: rgb(240, 240, 240);
	margin: 0;
	padding-bottom: 50px;
	margin-bottom: 40px;
}
#banner p{
	padding-left: 100px;
	font-size: 40px;
}
@media (max-width: 1500px){
	.jumbotron{
		width: 100%;
		height: auto;
	}
	#logoo{
		width: 200px;
	}
	.carousel-inner img{
		width: 90%;
		height: auto;
	}
	.carousel-item img{
		width: 100%;
		height: auto;
	}
	.featurette div img{
		width: 100%;
		height: auto;
	}
}
@media (max-width: 1024px){
	
	.carousel-item img{
		width: 100%;
		height: auto;
	}
	
}
@media (max-width: 992px) {

	.carousel-inner img{
		width: 100%;
		height: auto;
	}
	.carousel-item img{
		width: 100%;
		height: auto;
	}
}

@media (max-width: 768px) {

	.carousel-item img{
		width: 100%;
		height: auto;
	}
	#banner p{
	padding-left: 50px;
	font-size: 20px;
	}
}

@media (max-width: 576px) {
	.jumbotron{
		width: 100%;
		height: auto;
	}
	#logoo{
		width: 100px;
	}
	.carousel-item img{
		width: 100%;
		height: auto;
	}
}

#boddy{
	 
	background-color: rgb(208, 245, 253);
	margin: 0;
	margin-bottom: 20px;
}
#boddy div{
	
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}
#boddy div p {
	text-align: center;
	font-size: 20px;
	color: hsl(0, 100%, 50%);
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}


footer{
	background: rgb(232, 222, 252);
}